* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  display: block;
  text-align: center;
}

#color-palette {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
  margin: 15px;

}

.color {
  background-color: white;
}

.paletas {
  display: flex;
  justify-content: center;
}

header {
  height: 5vh;
}

.tabela {
  display: flex;
  justify-content: center;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
}

.limpador {
  display: flex;
  margin: 20px;
  justify-content: center;
}
