.color {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.black {
  background-color: black;
}

.pink {
  background-color: pink;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

#pixel-board{
  width: 210px;
  height: 210px !important;
}

.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: black 1px solid;
  margin-bottom: -5px;
} 